<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="StopUpdate" value="sc stop wuauserv"/>
    <add key="DisableUpdate" value="sc config wuauserv start=disabled"/>
    <add key="StopOrchestrator" value="sc stop UsoSvc"/>
    <add key="DisableOrchestrator" value="sc config UsoSvc start=disabled"/>
    <add key="EnableUpdate" value="sc config wuauserv start=demand"/>
    <add key="StartUpdate" value="sc start wuauserv"/>
    <add key="EnableOrchestrator" value="sc config UsoSvc start=demand"/>
    <add key="StartOrchestrator" value="sc start UsoSvc"/>
  </appSettings>
</configuration>